node_modules
dist
.git
.github
.env
.env.local
.env.production
*.log
backups
*.dump
*.sql.gz
.DS_Store
deploy
README.md
.eslintrc*
.prettierrc*
.prettierignore
docker-compose.yml
Dockerfile
.dockerignore
